{% extends "base.html" %}
{% block title %}Debug Menu{% endblock %}

{% block div %}
<form align="center" action="#" method="post">
	<label for="acc_id">Account ID: </label><br>
	<input type="number" id="acc_id" name="acc_id" min="0" value="1"/><br><br>
	<label for="ssn">SSN: </label><br>
	<input type="number" id="ssn" name="ssn" min="100000000" max="999999999" value="123456789"/><br><br>
	<label for="name">Name: </label><br>
	<input type="text" id="name" name="name" value="Full Name"/><br><br>
	<label for="pin">PIN: </label><br>
	<input type="number" id="pin" name="pin" min="1000" max="9999" value="1000"/><br><br>
	<label for="check">Checking Balance: </label><br>
	<input type="number" id="check" name="check" min="0" value="20"/><br><br>
	<label for="save">Savings Balance: </label><br>
	<input type="number" id="save" name="save" min="0" value="20"/><br><br>
	<input type="submit" value="Submit"/><br><br>
	<input type="radio" id="create" name="type" value="C" checked>
	<label for="create">Create</label>
	<input type="radio" id="delete" name="type" value="D">
	<label for="delete">Delete</label>
</form>
{% endblock %}