{% extends "base.html" %}
{% block title %}Account Verification{% endblock %}

{% block content %}
<form action="#" method="post">
	<label for="acc_id">Account ID: </label>
	<input type="number" id="acc_id" name="acc_id" min="0"/> <input type="submit" value="Submit"/>
</form>
<form action="#" method="post">
	<label for="ssn">SSN: </label>
	<input type="number" id="ssn" name="ssn" min="3121" max="5672" /> <input type="submit" value="Submit"/>
</form>
<form action="#" method="post">
	<label for="name">Name: </label>
	<input type="text" id="name" name="name" /> <input type="submit" value="Submit"/>
</form>
<form action="#" method="post">
	<label for="pin">PIN: </label>
	<input type="number" id="pin" name="pin" min="1000" max="9999" /> <input type="submit" value="Submit"/>
</form>
<form action="#" method="post">
	<label for="check">Checking Balance: </label>
	<input type="number" id="check" name="check" min="0"/> <input type="submit" value="Submit"/>
</form>
<form action="#" method="post">
	<label for="save">Savings Balance: </label>
	<input type="number" id="save" name="save" min="0"/> <input type="submit" value="Submit"/>
</form>
{% endblock %}